#########################################################################################
# Without version number
minisom
#########################################################################################
# With version number
numpy==1.24.3
pandas==2.0.3
seaborn==0.12.2
tslearn==0.6.3
#########################################################################################