<div class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5">
  <div class="w-full mx-auto rounded-xl shadow-xl relative overflow-hidden" style="max-width: 300px;">
    <h1 class="text-center text-white py-10 font-bold">
      Angular Calculators
    </h1>
    <!-- caclculator screen -->
    <div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right">
      
      <!-- create function screen -->
      <div class="py-5 px-6 text-2xl text-white font-thin">
        <p>Function</p>
      </div>

      <!-- add number screen -->
      <div class="w-full py-5 px-6 text-6xl text-white font-thin">
        12123
      </div>
    </div>

    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- first button row -->
      <div class="flex w-full">
        <div class="w-2/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            C
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            %
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            /
          </button>
        </div>
      </div>
      <!-- second row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            9
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            8
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            7
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            *
          </button>
        </div>
      </div>
      <!-- third row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            6
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            5
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            4
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            +
          </button>
        </div>
      </div>
      <!-- fourth row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            1
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            2
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            3
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            -
          </button>
        </div>
      </div>
      <!-- fifth row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            0
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            .
          </button>
        </div>
        <div class="w-2/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light">
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>