<div class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5">
  <div class="w-full mx-auto rounded-xl shadow-xl relative overflow-hidden" style="max-width: 300px;">
    <h1 class="text-center text-white py-10 font-bold">
      Angular Calculators
    </h1>
    <!-- caclculator screen -->
    <div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right">
      
      <!-- create function screen -->
      <div class="py-5 px-6 text-2xl text-white font-thin">
        <p>{{ currentFunction }}</p>
      </div>

      <!-- add number screen -->
      <div class="w-full py-5 px-6 text-6xl text-white font-thin">
        {{ result | number}}
      </div>
    </div>

    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- first button row -->
      <div class="flex w-full">
        <div class="w-2/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('c', 'function')">
            C
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('%', 'function')">
            %
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('/', 'function')">
            /
          </button>
        </div>
      </div>
      <!-- second row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('9', 'number')">
            9
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('8', 'number')">
            8
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('7', 'number')">
            7
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('*', 'function')">
            *
          </button>
        </div>
      </div>
      <!-- third row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('6', 'number')">
            6
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('5', 'number')">
            5
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('4', 'number')">
            4
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('+', 'function')">
            +
          </button>
        </div>
      </div>
      <!-- fourth row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('1', 'number')">
            1
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('2', 'number')">
            2
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('3', 'number')">
            3
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('-', 'function')">
            -
          </button>
        </div>
      </div>
      <!-- fifth row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('0', 'number')">
            0
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('.', 'number')">
            .
          </button>
        </div>
        <div class="w-2/4 border-r border-b border-red-400">
          <button class="w-full outline-none hover: bg-red-700 hover: bg-opacity-20 text-white text-opacity-50 text-xl font-light" (click)="onClickFunc('=', 'function')">
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>